/*
width van iphone: 320
width van ipad: 768
*/

/*Dit is de dektop versie*/
@media screen and (min-width: 48em) {

    .logo {
        width: 18em;
        height: auto;
    }

    html {
        height: 100%;
    }

    body {
        width: 150%;
        display: flex;
        max-height: 100%;
        flex-direction: row;
        font-family: Roboto, sans-serif;
        margin: 0;
        padding: 0;
        overflow-y: hidden;
    }

    .cmd_beroepen {
        max-width: 100%;
        height: auto;
    }

    button[type="submit"] {
        background-color: #f9cf00;
    }

    a[href] {
        text-decoration: none;
    }

    h1, h2 {
        text-shadow: 0px 0px 0.1em #806600;
        color: #FFFFFF;
    }

    header > form {
        margin: 1.1em;
    }

    /* Navigatie */

    nav li {
        list-style-type: none;
        padding: 0.5em;
        margin: 1em;
        background: #f9cf00;
        border-radius: 1em;
        transition-property: background, border-radius;
        transition-duration: 1s;
        transition-timing-function: linear;
    }

    nav > ul > li:hover {
        background: #1a1a18;
        border-radius: 0%;
    }

    nav > ul {
        margin: 0;
        padding: 0;
    }

    nav > ul > li > a {
        color: aliceblue;
        font-size: 1.1em;
    }

    .related article header p {
         color: #B2B2B2;
        font-size: 90%;
    }

    .related article header h3 {
        font-size: 150%;
    }

    .related article footer h4 {
        font-size: 110%;
    }


    main article section h3 {
        font-size: 150%
    }

    main article video {
        width: 100%;
        height: auto;
    }

    main a {
        visibility: hidden;
        position: absolute;
    }

    main form fieldset label {
        display: block;
        margin-bottom: 0.8em;
    }

    fieldset.inactive {
        display: none;
    }

    /* Hieronder staat het blokken css */
    /* http://www.cssmatic.com/box-shadow gebruikt als generator voor de box shadow */

    body > header {
        padding: 1em;
        background-color: aliceblue;
        box-shadow: inset 0px 0px 135px -24px rgba(0,0,0,0.63);
    }

    main {
        padding: 1em;
        min-width: 25em;
        overflow: scroll;
        background-color: #f9cf00;
        box-shadow: inset 0px 0px 135px -24px rgba(0,0,0,0.63);
    }

    .related {
        padding: 1em;
        max-width: 27em;
        min-width: 25em;
        overflow: scroll;
        background-color: aliceblue;
        box-shadow: inset 0px 0px 135px -24px rgba(0,0,0,0.63);
    }

    aside {
        padding: 1em;
        overflow: scroll;
        background-color: #f9cf00;
        box-shadow: inset 0px 0px 135px -24px rgba(0,0,0,0.63);
    }

    body > footer {
        padding: 1em;
        overflow: scroll;
        background-color: aliceblue;
        box-shadow: inset 0px 0px 135px -24px rgba(0,0,0,0.63);
    }
}

/*Dit is de tablet versie*/
@media screen and (max-width: 48em) and (min-width: 25em) {
    .logo {
        width: 18em;
        height: auto;
        display: block;
        margin: 0 auto;
        padding-bottom: 1em;

    }

    .cmd_beroepen {
        max-width: 100%;
        height: auto;
    }

    body {
        display: flex;
        flex-direction: column;
        font-family: Roboto, sans-serif;
    }


    button[type="submit"] {
        background-color: #f9cf00;
    }

    a[href] {
        text-decoration: none;
    }

    h1, h2{
        text-shadow: 0px 0px 1em #f9cf00
    }

    header form {
        text-align: center;
        padding-top: 1em;

    }

    main article video {
        width: 100%;
        height: auto;
    }

    main a {
        visibility: hidden;
        position: absolute;
    }

    /* Navigatie */

    nav li {
        list-style-type: none;
        padding: 0.5em;
        margin:-0.2em;
        background: #f9cf00;
        border-radius: 0.4em;
        transition-property: background, border-radius;
        transition-duration: 1s;
        transition-timing-function: linear;
    }

    nav li:hover {
        background: #1a1a18;
        border-radius: 0%;
    }

    nav ul {
        margin: 0;
        padding: 0;
    }

    nav a {
        color: aliceblue;
        font-size: 1.1em;
    }

    main article video {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    main form fieldset label {
        display: block;
        margin-bottom: 0.8em;
    }

    fieldset.inactive {
        display: block;
    }


    /* Hieronder staat het blokken css */
    /* http://www.cssmatic.com/box-shadow gebruikt als generator voor de box shadow */

    body > header {
        order: 1;
        padding: 1em;
        background-color: aliceblue;
        box-shadow: inset 0px 0px 135px -24px rgba(0,0,0,0.63);
    }

    main {
        order: 2;
        padding: 1em;
        background-color: #f9cf00;
        box-shadow: inset 0px 0px 135px -24px rgba(0,0,0,0.63);
    }

    .related {
        order: 3;
        padding: 1em;
        background-color: aliceblue;
        box-shadow: inset 0px 0px 135px -24px rgba(0,0,0,0.63);
    }

    aside {
        order: 4;
        padding: 1em;
        background-color: #f9cf00;
        box-shadow: inset 0px 0px 135px -24px rgba(0,0,0,0.63);
    }

    body > footer {
        order: 5;
        padding: 1em;
        background-color: aliceblue;
        box-shadow: inset 0px 0px 135px -24px rgba(0,0,0,0.63);
    }
}

/*Dit is de mobiele versie*/
@media screen and (max-width: 25em) {
    .logo {
        width: 18em;
        height: auto;
        display: block;
        margin: 0 auto;
        padding-bottom: 1em;
    }

    body {
        display: flex;
        flex-direction: column;
        font-family: Roboto, sans-serif;
    }

    button[type="submit"] {
        background-color: #f9cf00;
    }

    a[href] {
        text-decoration: none;
    }

    h1, h2{
        text-shadow: 0px 0px 1em #f9cf00
    }

    header form {
        text-align: center;
        padding-top: 1em;

    }

    .cmd_beroepen {
        max-width: 100%;
        height: auto;
    }

    main article video {
        width: 100%;
        height: auto;
    }

    main a {
        visibility: visible;
        position: inherit;
    }

    main a img {
        max-width: 3em;
        height: auto;
        float: right;
    }
    /* Navigatie */

    nav li {
        list-style-type: none;
        padding: 0.5em;
        margin:-0.2em;
        background: #f9cf00;
        border-radius: 0.4em;
        transition-property: background, border-radius;
        transition-duration: 1s;
        transition-timing-function: linear;
    }

    nav li:hover {
        background: #1a1a18;
        border-radius: 0%;
    }

    nav ul {
        margin: 0;
        padding: 0;
    }

    nav a {
        color: aliceblue;
        font-size: 1.1em;
    }

    main article video {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    main form fieldset label {
        display: block;
        margin-bottom: 0.8em;
    }

    fieldset.active {
        display: block;
    }

    /* Hieronder staat het blokken css */
    /* http://www.cssmatic.com/box-shadow gebruikt als generator voor de box shadow */

    body > header {
        order: 5;
        padding: 1em;
        background-color: aliceblue;
        box-shadow: inset 0px 0px 135px -24px rgba(0,0,0,0.63);
    }

    main {
        order: 2;
        padding: 1em;
        background-color: #f9cf00;
        box-shadow: inset 0px 0px 135px -24px rgba(0,0,0,0.63);
    }

    .related {
        order: 3;
        padding: 1em;
        background-color: aliceblue;
        box-shadow: inset 0px 0px 135px -24px rgba(0,0,0,0.63);
    }

    aside {
        order: 4;
        padding: 1em;
        background-color: #f9cf00;
        box-shadow: inset 0px 0px 135px -24px rgba(0,0,0,0.63);
    }

    body > footer {
        order: 6;
        padding: 1em;
        background-color: aliceblue;
        box-shadow: inset 0px 0px 135px -24px rgba(0,0,0,0.63);
    }
}
